<template name="Timeline">


            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Timeline  (left and center version)</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Extra pages</a>
                        </li>
                        <li class="active">
                            <strong>Timeline</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Basic left float timeline</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="timeline.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="timeline.html#">Config option 1</a>
                                </li>
                                <li><a href="timeline.html#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content intimeline">
                        <ul class="intimeline-list">
                            <li>
                                <div class="intimeline-icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="intimeline-time">6:00 am
                                    <br/>
                                    <small class="text-navy">2 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p><strong>Meeting</strong></p>
                                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
                                    <p><span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="intimeline-icon active">
                                    <i class="fa fa-file-text"></i>
                                </div>
                                <div class="intimeline-time">7:00 am
                                    <br/>
                                    <small>3 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Send documents to Mike</strong></p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
                                </div>
                            </li>
                            <li>
                                <div class="intimeline-icon">
                                    <i class="fa fa-coffee"></i>
                                </div>
                                <div class="intimeline-time">8:00 am
                                </div>
                                <div class="intimeline-message">
                                    <strong>Coffee Break</strong>
                                </div>
                            </li>
                            <li>
                                <div class="intimeline-icon active yellow-bg">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="intimeline-time">7:00 am
                                    <br/>
                                    <small>3 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Go to shop and find some products.</strong></p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                </div>
                            </li>
                            <li>
                                <div class="intimeline-icon active blue-bg">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="intimeline-time">11:00 pm
                                    <br/>
                                    <small>21 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Phone with Jeronimo</strong></p>
                                    Lorem Ipsum has been the industry's standard dummy text ever since.
                                </div>
                            </li>
                            <li>
                                <div class="intimeline-icon">
                                    <i class="fa fa-user-md"></i>
                                </div>
                                <div class="intimeline-time">09:00 pm
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Go to the doctor dr Smith</strong></p>
                                    Find some issue and go to doctor.
                                </div>
                            </li>
                            <li>
                                <div class="intimeline-icon active">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="intimeline-time">11:10 pm
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Chat with Sandra</strong></p>
                                    Lorem Ipsum has been the industry's standard dummy text ever since.
                                </div>
                            </li>
                            <li>
                                <div class="intimeline-icon active">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="intimeline-time">11:00 pm
                                    <br/>
                                    <small class="text-navy">48 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Chat with Monica and Sandra</strong></p>
                                    Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                </div>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Center timeline </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="timeline.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="timeline.html#">Config option 1</a>
                                </li>
                                <li><a href="timeline.html#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content centered-timeline ">
                        <ul class="intimeline-list">
                            <li class="intimeline-left">
                                <div class="intimeline-icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="intimeline-time">6:00 am
                                    <br/>
                                    <small class="text-navy">2 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p><strong>Meeting</strong></p>
                                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
                                </div>
                            </li>
                            <li class="intimeline-right">
                                <div class="intimeline-icon active">
                                    <i class="fa fa-file-text"></i>
                                </div>
                                <div class="intimeline-time">7:00 am
                                    <br/>
                                    <small>3 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Send documents to Mike</strong></p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
                                </div>
                            </li>
                            <li  class="intimeline-left">
                                <div class="intimeline-icon">
                                    <i class="fa fa-coffee"></i>
                                </div>
                                <div class="intimeline-time">8:00 am
                                </div>
                                <div class="intimeline-message">
                                    <strong>Coffee Break</strong>
                                </div>
                            </li>
                            <li class="intimeline-right">
                                <div class="intimeline-icon active yellow-bg">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="intimeline-time">7:00 am
                                    <br/>
                                    <small>3 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Go to shop and find some products.</strong></p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                                </div>
                            </li>
                            <li  class="intimeline-left">
                                <div class="intimeline-icon active blue-bg">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="intimeline-time">11:00 pm
                                    <br/>
                                    <small>21 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Phone with Jeronimo</strong></p>
                                    Lorem Ipsum has been the industry's standard dummy text ever since.
                                </div>
                            </li>
                            <li class="intimeline-right">
                                <div class="intimeline-icon">
                                    <i class="fa fa-user-md"></i>
                                </div>
                                <div class="intimeline-time">09:00 pm
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Go to the doctor dr Smith</strong></p>
                                    Find some issue and go to doctor.
                                </div>
                            </li>
                            <li  class="intimeline-left">
                                <div class="intimeline-icon active">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="intimeline-time">11:10 pm
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Chat with Sandra</strong></p>
                                    Lorem Ipsum has been the industry's standard dummy text ever since.
                                </div>
                            </li>
                            <li class="intimeline-right">
                                <div class="intimeline-icon active">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="intimeline-time">11:00 pm
                                    <br/>
                                    <small class="text-navy">48 hour ago</small>
                                </div>
                                <div class="intimeline-message">
                                    <p class="push-bit"><strong>Chat with Monica and Sandra</strong></p>
                                    Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>

</template>
