<template name="resetpassword">
	Hi User {{data.emails.[0].address}}
	{{#autoForm collection="Doctor" id="doctorpasswordreset_form_email" type="method" meteormethod="doctorpasswordreset_email" }}
		<fieldset>
			<legend>Password Reset</legend>
			{{> afFieldInput name='username' placeholder="Email"}}
			{{> afFieldInput name='password' placeholder="New Password" type="password"}}
			{{> afFieldInput name='password' placeholder="Retype-Password" type="password"}}
			<button type="submit" class="btn btn-primary btn-block">Reset</button>
		</fieldset>
	{{/autoForm}}
</template>



