<template name="PatientSettingsAutoform">
 
 {{#autoForm collection="Patient" doc=this id="insertBookForm" type="update" template="bootstrap3-horizontal"}}
    <fieldset>
		<div class="row well white-bg ">
      <legend>Profile Settings</legend>
    <div class="col-sm-6">  {{> afQuickField name='username' template="bootstrap3-horizontal"}} 
      {{> afQuickField name="gender" options="allowed"}}
      {{> afQuickField name='dob'}} 
       {{> afQuickField name='address.street' rows=4}} 
       {{> afQuickField name='address.pin'}} 
              {{> afQuickField name="maritial_status" options="allowed" noselect="true"}} 
              {{> afQuickField name="known_allergies" options="allowed"}}
       {{> afQuickField name="major_surgeries" options="allowed"}}
        {{> afQuickField name="health_condition" options="allowed" noselect="true"}} 

<button type="submit" class="btn btn-primary">Insert</button>
      </div>
      
      
     <div class="col-sm-6"> {{> afQuickField name='contactnos'}}
     {{> afQuickField name='emails'}}
     {{> afQuickField name="blood_group" options="allowed"}} 
      {{> afQuickField name="food_habbit" options="allowed" noselect="true"}} 
      {{> afQuickField name='family_physician'}}
      <!--
      {{> afFormGroup name="family_physician" type="select2" select2Options=optionsHelper}}
      
         {{> afFieldInput name="family_physician" type="select2" select2Options=options }}
      -->
        </div>
      </div>
      
      
    </fieldset>
    
    
    
    <button type="submit" class="btn btn-primary btn-xs btn-block">Update</button>
  {{/autoForm}}
 {{#autoForm collection="Patient" doc=this id="insertImageForm" type="insert" }} 
  {{> afQuickField name="image" type="cfs-file" collection="images"}}
  <button type="submit">Submit</button>
  {{/autoForm}}
</template>
<template name="PatientSettings">

 {{>PatientSettingsAutoform pat }}
 
</template>
