<template name="DoctorSettingsAutoform">
 
 

 {{#autoForm collection="Doctor" doc=this id="insertBookForm" type="update" template="bootstrap3-horizontal"}}
    <fieldset>
		<div class="row well white-bg ">
      <legend>Profile Settings</legend>
    <div class="col-sm-6">  {{> afQuickField name='username' template="bootstrap3-horizontal"}} 
      {{> afQuickField name="gender" options="allowed"}}
      {{> afQuickField name='dob'}} 
       {{> afQuickField name='address.street' rows=4}} 
       {{> afQuickField name='address.pin'}} 
             
         {{> afQuickField name="image"}}
      </div>
      
      
     <div class="col-sm-6"> {{> afQuickField name='contactnos'}}
     {{> afQuickField name='emails'}}
     {{> afQuickField name="blood_group" options="allowed"}} 

        </div>
      </div>
      
      
    </fieldset>
    
    
    
    <button type="submit" class="btn btn-primary btn-xs btn-block">Update</button>
 {{/autoForm}}
  <!--{{#autoForm collection="Doctor" doc=this id="insertImageForm" type="insert" }} 
 
  <button type="submit">Submit</button>
  {{/autoForm}} -->
</template>
<template name="DoctorSettings">

 {{>DoctorSettingsAutoform doctor }}
 
</template>
