<template name="NewSettings">
{{#if Template.subscriptionsReady}}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Personal Settings</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profession Settings</a></li>
    <li role="presentation"><a href="#workplace" aria-controls="profile" role="tab" data-toggle="tab">Workplace Settings</a></li>
    </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">{{>PersonalSettings user}}</div>
    <div role="tabpanel" class="tab-pane" id="profile">{{>ProfessionSettings doctor}}</div>
    <div role="tabpanel" class="tab-pane" id="workplace">{{>WorkPlaceSettings doctor}}</div>
  </div>

</div>
{{else}}
    Loading...
  {{/if}}
</template>
