<template name="layout_search">
	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="nav-header">
						<div class="dropdown profile-element">
							<span><img alt="image" class="img-circle" src="{{img.image}}" style="max-width:150px;" /></span>
							<a data-toggle="dropdown" class="dropdown-toggle" href="/#"><span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{name.username}}</strong></span></span></a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs">
								<li><a href="{{pathFor 'profile'}}">Profile</a></li>
								<li><a href="{{pathFor 'contacts'}}">Contacts</a></li>
								<li><a href="{{pathFor 'mailbox'}}">Mailbox</a></li>
								<li class="divider"></li>
								<li><a href="{{pathFor 'login'}}">Logout</a></li>
							</ul>
						</div>
						<div class="logo-element">M+</div>
					</li>
					<li class="active" >
						<a href="{{pathFor 'dsearch'}}#"><i class="fa fa-th-large"></i> <span class="nav-label">Filters</span> </a>
					<!--<a href="{{pathFor 'layout_search'}}#"><i class="fa fa-cog"></i> <span class="nav-label">{{>Settings}}</span><span class="fa arrow"></span></a> -->
					</li>
					<li >
						<a href="{{pathFor 'patientsettings'}}#"><i class="fa fa-cog"></i> <span class="nav-label">Settings</span> </a>
					<!--<a href="{{pathFor 'layout_search'}}#"><i class="fa fa-cog"></i> <span class="nav-label">{{>Settings}}</span><span class="fa arrow"></span></a> -->
					</li>
					<li>
						<a href="{{pathFor 'layout_search'}}#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Priorities</span><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="{{pathFor 'iframe'}}">Flot Charts</a></li>
							<li><a href="{{pathFor 'graph_morris'}}">Morris.js Charts</a></li>
							<li><a href="{{pathFor 'graph_rickshaw'}}">Rickshaw Charts</a></li>
							<li><a href="{{pathFor 'graph_peity'}}">Peity Charts</a></li>
							<li><a href="{{pathFor 'graph_sparkline'}}">Sparkline Charts</a></li>
						</ul>     
					</li>
					<li>
						<a href="{{pathFor 'layout_search'}}#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Distance</span><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="{{pathFor 'graph_flot'}}">Flot Charts</a></li>
							<li><a href="{{pathFor 'graph_morris'}}">Morris.js Charts</a></li>
							<li><a href="{{pathFor 'graph_rickshaw'}}">Rickshaw Charts</a></li>
							<li><a href="{{pathFor 'graph_peity'}}">Peity Charts</a></li>
							<li><a href="{{pathFor 'graph_sparkline'}}">Sparkline Charts</a></li>
						</ul>
					</li>
					<li>
						<a href="{{pathFor 'layout_search'}}#"><i class="fa fa-edit"></i> <span class="nav-label">Availability</span><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="{{pathFor 'form_basic'}}">Basic form</a></li>
							<li><a href="{{pathFor 'form_advanced'}}">Advanced Plugins</a></li>
							<li><a href="{{pathFor 'form_wizard'}}">Wizard</a></li>
							<li><a href="{{pathFor 'form_file_upload'}}">File Upload</a></li>
							<li><a href="{{pathFor 'form_editors'}}">Text Editor</a></li>
						</ul>
					</li>
					</ul>
                   </div>
		</nav>
		<div id="page-wrapper" class="gray-bg">
			<div class="row border-bottom">
				<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
					<div class="navbar-header col-lg-9 col-lg-offset-1">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
						{{#autoForm class="form-inline well" collection="Doctor" id="dsearch_form" type="method" meteormethod="doctorfind" }}
							<fieldset>
								{{> afFieldInput name='username' placeholder="Symptom"}}
								{{> afFieldInput name='password' placeholder="Place"}}
								{{> afFieldInput name='password' placeholder="Password" type="date"}}
								<button type="submit" class="btn btn-primary">Enquire</button>
							</fieldset>
						{{/autoForm}}
					</div>
					<ul class="nav navbar-top-links navbar-right">
						<li><span class="m-r-sm text-muted welcome-message">M+</span></li>
						<li><a href="login.html"><i class="fa fa-sign-out"></i></a></li>
					</ul>
				</nav>    
			</div>
			{{>yield}}
		</div>
	</div>
</template>
