<template name="Logins">
 {{#if Template.subscriptionsReady}}
	<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid white-bg">
	
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">M+</a>
		</div>
		<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
			<div class="row well">
			  <div class="col-lg-2 col-lg-offset-2">.{{Symptom}}</div>
			  <div class=" col-lg-6">
			  </div>
			</div>

		</div>
	</div>
	</nav>
	
	<div class="white-bg	col-lg-12">
		<div class="col-lg-8" >
			
			<div class="image-hover text-center middle-box" style="position:absolute;">
				<h1 class="logo-name" style="color:#1AB394;">M+</h1>
				<h3>Welcome to M+</h3>
				<p>Perfectly designed and precisely prepared admin application for physicians.</p>
				<p>Login in. To see it in action.</p>
			</div>
			<div class="video-hover">
				<br>
				<video class="vid" width='100%' >
					<source src="video/video.mp4" type="video/mp4" />
				</video>
				<br>
			</div>
		</div>
		<div class="panel blank-panel col-lg-4 text-center">
			<div class="panel-heading">
				<div class="panel-options">
				<ul class="nav nav-justified">
					<li class="active"><a data-toggle="tab" href="#tabpatinet"><i class="fa fa-user-md fa-2x"></i>Physician</a></li>
					<li class=""><a data-toggle="tab" href="#tabadmin"><i class="fa fa-wheelchair fa-2x"></i>Patient</a></li>
				</ul>
				</div>
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<div id="tabpatinet" class="tab-pane active well">
						{{>Dlogin}}
					</div>
					<div id="tabadmin" class="tab-pane well">
						{{>Plogin}}
					</div>
				</div>
			</div>
		</div>
		<p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
	</div>
{{else}}
    Loading...
  {{/if}}
</template>



