<template name="Plogin">
	<div class="row-fluid" id="demo-1">
		<div class=" offset1">
			<div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#panel1" data-toggle="tab" class="active "><i class="fa fa-unlock"></i>&nbsp;<span class="glyphicons glyphicons-user-lock" aria-hidden="true"></span></a></li>
					<li><a href="#panel2" data-toggle="tab"><i class="fa fa-arrow-left"></i>&nbsp;<span></span></a></li>
					<li><a href="#panel3" data-toggle="tab"><i class="fa fa-key"></i>&nbsp;<span></span></a></li>
				</ul>
				<div class="tab-content ">
					<div class="tab-pane active" id="panel1">
						{{> quickForm id="dlogin_form" schema="LoginSchema.Plogin"}}
					</div>
					<div class="tab-pane" id="panel2">
						{{> quickForm id="dregister_form" schema="LoginSchema.Pregister" }}
					</div>
					<div class="tab-pane" id="panel3">
						{{> quickForm id="dregister_form" schema="LoginSchema.Ppassreset"}}
					</div>
					<div class="modal fade" id="successModal" aria-labelledby="successModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="successModalLabel">New message</h4>
						  </div>
						  <div class="modal-body">
							
							  <div class="form-group">
								<label for="recipient-name" class="control-label">Message:</label>
								
							  </div>
							 
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							
						  </div>
						</div>
					  </div>
					</div>        
				</div>
			</div>
		</div>
	</div>
	<div class="divider bottom-preview">
	</div>
</template>
